extends layout 

block content
    
    div(class="outer-container")
        form(action="/" method="POST")
            h1 Send Message
            div(class="mb-3")
                label(for="exampleInputEmail1" class="form-label") Username
                input(type="text" class="form-control" name="username" )
            div(class="mb-3")
                label(for="exampleInputPassword1" class="form-label") Message
                textarea(type="text" class="form-control" name="message") 
            button(type="submit" class="btn btn-outline-dark") Submit 
    div(class="outer-container")
        h1 Received Messages
        ul(class="list-group")
            each item in Messages
                li(class="list-group-item")=item.username+" : "+item.message
